*{
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebchet MS', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(240, 233, 233);
}
.title2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f94b85;

}
.title
{
    background-color: #f94b85;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
   justify-content: center;
}
.left{
    border-radius: 7px;
    height: auto;
    min-height: 80vh;
    margin: 15px;
    width: 30vw;
    background-color:white;
    position: relative;
 
    
}
h2{
    border-radius: 5px;
}
h3{
     background-color: #f94b85;

    height: 70px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items:  center;
    border-radius: 5px;
    padding: 0px 30px;
    padding-right: 20px;
    cursor: pointer;
}
.list_left{
   
    margin: 5px;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
     margin-top: 4vh;


}
.right{
    border-radius: 7px;
    background-color: white;
       margin: 15px;
       margin-left: -2px;
       width: 60vw;
       height: auto;
       min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}

.video{
    margin: 10px;
    background-color: rgb(156, 154, 154);
    height: 50%;
    width: 90%;
    position: relative;
    border-radius: 5px;
}
.video video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;        
    height: 100%;       
    object-fit: cover;  
}

video::-webkit-media-controls-play-button {
    background-color: #f6adc5;  
    border-radius: 50%;
   scale: 0.55;
}

video::-webkit-media-controls-current-time-display {
    color: #f6adc5
}

video::-webkit-media-controls-time-remaining-display {
    color: #f6adc5;
}

h1{
    color: #ffffff;
}
.list li{
    list-style: none;
    background-color: #fb4381;
    margin: 3px;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
 ol{
    display: flex;
    flex-wrap: wrap;
    height: 27vh;
    width: 50vw;
    overflow-y: auto;
    margin: 15px;
    padding-right: 20px;
    align-self: flex-start;
}



li:visited{
    background-color: #ff0055;
}
li:active{
     background-color: #ff0055;
}

::-webkit-scrollbar{
    background-color: #f6adc5;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #f94b85;
    border-radius: 7px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}
.footer{
    background-color: #f94b85;
    position: absolute;
    bottom: 0;
    height: 4.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
@media  (max-width: 567px) {
    *{
        font-size:medium ;
    }
    h3{
        font-size: small;
    }
   

  
ol{
     height: 27vh;
    width: 40vw;
    margin-right: 10vw; 

    
}
.list li{
    padding: 5px;
}

}